.header {
  background-color: var(--gray-700);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12.5rem;
  position: relative;
}

.newTaskFrom {
  position: absolute;
  height: 3.375rem;
  bottom: calc(-3.375rem / 2);
  width: 100%;
  max-width: 46rem;
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem;
}

.newTaskFrom input {
  height: 100%;
  flex: 1;
  color: var(--gray-100);
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 0.5rem;
  padding: 0 1rem;
  font-size: 1rem;
}

.newTaskFrom input::placeholder {
  color: var(--gray-300);
}

.newTaskFrom button {
  height: 100%;
  padding: 0 1rem;
  background: var(--blue-dark);
  color: var(--gray-100);
  border: none;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.375rem;
  font-weight: 700;
  font-size: 0.875rem;
}

@media only screen and (max-width: 767px) {
  .header {
    height: 10rem;
    flex-direction: column;
  }

  .newTaskFrom {
    height: 2.875rem;
    bottom: calc(-2.875rem / 2);
    width: 90%;
    padding: 0 0.5rem;
  }

  .newTaskFrom input {
    font-size: 0.875rem;
  }

  .newTaskFrom button {
    font-size: 0.75rem;
    padding: 0 0.5rem;
  }
}
